/* 全ページ共通スタイル */

html {
    font-size: 62.5%;
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    scroll-padding-top: 7rem;
}

@media (max-width: 500px) {
    html {
        font-size: 45%;
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(90deg,rgb(255, 200, 255),rgb(255, 255, 200),rgb(200, 255, 255))
}


/* 見出し */

h1 {
    font-size: 3.2rem;
    font-weight: bold;
}

h2 {
    font-size: 2.4rem;
    font-weight: bold;
}

h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

h4 {
    font-size: 1.6rem;
    font-weight: bold;
}


/* ヘッダーエリア */

header {
    z-index: 99999;
    background-color: lightyellow;
    position: sticky;
    top: 0;
}

header h1 {
    margin: 0.5rem;
}


/* メインエリア */

main {
    font-size: 1.6rem;
    margin: 1rem;
}

main a {
    color: #0000bb;
}

main a:hover {
    color: #4444ff;
    text-decoration:underline;
}


/* データ入出力エリア */

textarea#dataInput {
    background: #ffffff;
    display: block;
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 0.1rem solid #000000;
}


/* 保存関係ボタン */  

#storageReset, #storageImport, #storageExport {
    background: #ffffff;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 0.1rem solid #000000;
}


/* カテゴリ選択 */

#category-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#category-select>button {
    background: #ffffff;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    border: 0.1rem solid #000000;
}

#category-select>button.active {
    background: yellow;
}


/* 一覧部分 */

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#content>div.item, #content>div.card {
    background: #ffffff;
    position: relative;
    overflow: hidden;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 30rem;
    text-align: center;
    border: 0.1rem solid #000000;
}

#content>div.item.invisible, #content>div.card.invisible {
    display: none;
}

#content div.brandDiv {
    margin-bottom: 0.5rem;
    text-align: right;
    font-size: 1.2rem;
}

#content div.musicDiv {
    margin-top: 0.5rem;
    text-align: left;
    font-size: 1.2rem;
}

#content div.categoryDiv {
    margin-top: 0.5rem;
    text-align: left;
    font-size: 1.2rem;
}

#content .ribbon {
    display: inline-block;
    position: absolute;
    padding: 0.5rem 0;
    text-align: center;
    background: #000000;
    color: #ffffff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#content .ribbon1 {
    left: -1rem;
    top: 0.5rem;
    width: 4rem;
}

#content .ribbon2 {
    right: -1rem;
    bottom: 0.5rem;
    width: 4rem;
}

#content>.type-dance>.ribbon {
    background: magenta
}

#content>.type-sing>.ribbon {
    background: cyan
}

#content>.type-fashion>.ribbon {
    background: yellow
}

#content .numBoxDiv {
    position: relative;
    font-size: 2rem;
    margin: auto;
    margin-top: 2rem;
    width: 20rem;
    padding: 0;
    padding-left: 3.2rem;
    border: 0.1rem solid #000000;
}

#content .numBoxDiv.re {
    background: #eeeeee;
}

#content .numBoxDiv>input {
    display: inline-block;
    text-align: center;
}

#content .numBoxDiv>input {
    padding: 1rem;
    width: 10rem;
}

#content .partIconDiv {
    position: absolute;
    left: 0;
    top: 12.5%;
    height: 3.2rem;
    width: 3.2rem;
}

#content .part-one-piece>.partIconDiv {
    background-image: url("../images/one-piece.png");
}

#content .part-tops>.partIconDiv {
    background-image: url("../images/tops.png");
}

#content .part-bottoms>.partIconDiv {
    background-image: url("../images/bottoms.png");
}

#content .part-shoes>.partIconDiv {
    background-image: url("../images/shoes.png");
}

#content .part-accessory>.partIconDiv {
    background-image: url("../images/accessory.png");
}
