/* アイコン */
.mdi--cards {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m21.47 4.35l-1.34-.56v9.03l2.43-5.86c.41-1.02-.06-2.19-1.09-2.61m-19.5 3.7L6.93 20a2.01 2.01 0 0 0 1.81 1.26c.26 0 .53-.05.79-.16l7.37-3.05c.75-.31 1.21-1.05 1.23-1.79c.01-.26-.04-.55-.13-.81L13 3.5a1.95 1.95 0 0 0-1.81-1.25c-.26 0-.52.06-.77.15L3.06 5.45a1.994 1.994 0 0 0-1.09 2.6m16.15-3.8a2 2 0 0 0-2-2h-1.45l3.45 8.34'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.mdi--clothes-hanger {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 4a3.5 3.5 0 0 0-3.5 3.5h2A1.5 1.5 0 0 1 12 6a1.5 1.5 0 0 1 1.5 1.5A1.5 1.5 0 0 1 12 9c-.55 0-1 .45-1 1v1.75L2.4 18.2A1 1 0 0 0 3 20h18a1 1 0 0 0 .6-1.8L13 11.75v-.9a3.5 3.5 0 0 0 2.5-3.35A3.5 3.5 0 0 0 12 4m0 9.5l6 4.5H6Z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.mdi--question-mark-circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m15.07 11.25l-.9.92C13.45 12.89 13 13.5 13 15h-2v-.5c0-1.11.45-2.11 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41a2 2 0 0 0-2-2a2 2 0 0 0-2 2H8a4 4 0 0 1 4-4a4 4 0 0 1 4 4a3.2 3.2 0 0 1-.93 2.25M13 19h-2v-2h2M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10c0-5.53-4.5-10-10-10'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}


/* 全ページ共通スタイル */

html {
    font-size: 62.5%;
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    scroll-padding-top: 7rem;
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(90deg,rgb(255, 200, 255),rgb(255, 255, 200),rgb(200, 255, 255))
}


/* 見出し */

h1 {
    font-size: 3.2rem;
    font-weight: bold;
}

h2 {
    font-size: 2.4rem;
    font-weight: bold;
}

h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

h4 {
    font-size: 1.6rem;
    font-weight: bold;
}


/* ヘッダーエリア */

header {
    z-index: 99999;
    background-color: lightyellow;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 6rem;
}

header h1 {
    margin: 1rem;
    flex-grow: 1;
}

header a#link-card, header a#link-item {
    display: block;
    height: 100%;
    aspect-ratio: 1 / 1;
}

header a#link-card:hover, header a#link-item:hover {
    background-color: rgb(255, 255, 150);
}

header #link-card>span, header #link-item>span {
    margin: 0.3rem;
    height: calc(100% - 0.6rem);
    width: calc(100% - 0.6rem);
}

header #link-card>span {
    color: rgb(255, 150, 255);
}

header #link-item>span {
    color: rgb(150, 255, 255);
}


/* フッターエリア */

footer {
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    background-color: #eeeeee;
}

footer * {
    margin: 0.5rem;
}

footer h3 {
    font-weight: normal;
}

footer .quote-box {
    width: calc(100% - 25rem);
    margin: 0 auto;
    font-size: 1rem;
}


/* メインエリア */

main {
    font-size: 1.6rem;
    margin: 1rem;
}

main a {
    color: #0000bb;
}

main a:hover {
    color: #4444ff;
    text-decoration:underline;
}


/* メニュー */

#menu-button-box {
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
    grid-template-columns: 30% 30%;
}

.menu-button-content {
    border: 0.5rem solid #cccccc;
    border-radius: 2rem;
    box-sizing: border-box;
    text-align: center;
    display: block;
    background: #ffffff;
}

.menu-button-content:hover {
    background: #eeeeee;
}

.menu-button-content#link-card, .menu-button-content#link-item {
    margin: 5%;
    padding: 5%;
    width: 90%;
    aspect-ratio: 1 / 1;
}

.menu-button-content#link-setting {
    margin: 2.5%;
    padding: 2.5%;
    width: 95%;
	grid-column: 1 / 3;
}

@media (max-width: 768px) {
    #menu-button-box {
        grid-template-columns: 60%;
    }

    .menu-button-content#link-card, .menu-button-content#link-item {
        margin: 5%;
        padding: 5%;
        width: 90%;
    }

    .menu-button-content#link-setting {
        margin: 5%;
        padding: 5%;
        width: 90%;
        grid-column: 1;
    }
}

.menu-button-content {
    font-size: 2rem;
    font-weight: bold;
}

.menu-button-content>span {
    width: 90%;
    height: 90%;
}

.menu-button-content#link-card>span {
    color: rgb(255, 150, 255);
}

.menu-button-content#link-item>span {
    color: rgb(150, 255, 255);
}


/* データ管理画面 */

.setting-content {
    background-color: #ffffffaa;
    padding: 1rem;
    margin: 0.5rem;
}
.setting-content span {
    width: 2.2rem;
    height: 2.2rem;
    vertical-align: bottom;
}

.setting-content select {
    -webkit-appearance: auto;
    appearance: auto;
    background: #ffffff;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 0.1rem solid #000000;
}


/* データ入出力エリア */

textarea#card_dataInput, textarea#card_compressionDataInput,
textarea#item_dataInput, textarea#item_compressionDataInput {
    background: #ffffff;
    display: block;
    width: 100%;
    height: 13rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 0.1rem solid #000000;
}


/* 保存関係ボタン */

#card_storageReset,
#card_storageImport, #card_storageExport,
#card_compressionStorageImport, #card_compressionStorageExport,
#item_storageReset,
#item_storageImport, #item_storageExport,
#item_compressionStorageImport, #item_compressionStorageExport {
    background: #ffffff;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 0.1rem solid #000000;
}

.setting-content.mode_compression #card_dataInput,
.setting-content.mode_compression #card_storageImport,
.setting-content.mode_compression #card_storageExport,
.setting-content.mode_compression #item_dataInput,
.setting-content.mode_compression #item_storageImport,
.setting-content.mode_compression #item_storageExport {
    display: none;
}

.setting-content.mode_json  #card_compressionDataInput,
.setting-content.mode_json  #card_compressionStorageImport,
.setting-content.mode_json  #card_compressionStorageExport,
.setting-content.mode_json  #item_compressionDataInput,
.setting-content.mode_json  #item_compressionStorageImport,
.setting-content.mode_json  #item_compressionStorageExport {
    display: none;
}


/* カテゴリ選択 */

#filter-grid {
    display: grid;
    place-content: center;
    align-items: start;
    grid-template-columns: 50% 50%;
}

@media (max-width: 768px) {
    #filter-grid {
        grid-template-columns: 100%;
    }
}

.filter-title {
    padding: 0.5rem;
    line-height: 4rem;
    font-size: 1.8rem;
}

.filter-settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.filter-settings.category {
    display: block;
}

.filter-settings button {
    background: #ffffff;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    border: 0.3rem solid #cccccc;
    height: 4rem;
    border-radius: 2rem;
}

#filter-grid.button-pink button {
    border: 0.3rem solid #fe9bf2;
}

#filter-grid.button-lightblue button {
    border: 0.3rem solid #66d9fe;
}

.filter-settings button.active {
    background: yellow;
}

.filter-settings .category-open-button {
    width: 4rem;
}

.filter-settings .category-box {
    display: none;
    padding-left: 2rem;
}

.filter-settings .category-box.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.filter-settings#music-select.invisible {
    display: none;
}

#filter-result {
    margin: 1rem 0.5rem;
    font-size: 2rem;
}


/* 一覧部分 */

#content {
    display: grid;
    place-content: center;
    place-items: center;
    align-items: start;
    grid-template-columns: 25% 25% 25% 25%;
}

@media (max-width: 768px) {
    #content {
        grid-template-columns: 50% 50%;
    }
}

#content>div.card {
    background: #ffffff;
    position: relative;
    overflow: hidden;
    margin: 0.5rem;
    padding: 1rem;
    width: calc(100% - 1rem);
    text-align: center;
}

#content>.type-dance {
    border: 0.32rem solid #ed86a7;
    border-radius: 2rem;
}

#content>.type-sing {
    border: 0.32rem solid #68caf2;
    border-radius: 2rem;
}

#content>.type-fashion {
    border: 0.32rem solid #ffe467;
    border-radius: 2rem;
}

#content>div.item {
    background: #ffffff;
    position: relative;
    margin: 0.8rem;
    padding: 1rem;
    width: calc(100% - 1.6rem);
    text-align: center;
    border-radius: 1.7rem;
}

#content>div.item::before {
    content:"";
    position: absolute;
    top: -0.3rem;
    right: -0.3rem;
    bottom: -0.3rem;
    left: -0.3rem;
    background: linear-gradient(90deg, #fe9bf2, #66d9fe);
    border-radius: 2rem;
    z-index: -1;
}

#content>div.item.invisible, #content>div.card.invisible {
    display: none;
}

#content div.idDiv {
    position: absolute;
    top: 0.5;
    left: 0.5;
    margin-left: 2rem;
    text-align: left;
}

#content div.charaDiv {
    margin-bottom: 1rem;
    font-size: 2rem;
}

#content div.nameDiv {
    min-height: 4.5rem;
    font-size: 2rem;
}

#content div.brandDiv {
    margin-bottom: 1rem;
    text-align: right;
    font-size: 1.6rem;
}

#content div.musicDiv {
    margin-top: 1rem;
    text-align: left;
    font-size: 1.6rem;
}

#content div.categoryDiv {
    margin-top: 1rem;
    text-align: left;
    font-size: 1.6rem;
}

#content .ribbon {
    display: inline-block;
    position: absolute;
    padding: 0.5rem 0;
    text-align: center;
    background: #000000;
    color: #ffffff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#content .ribbon1 {
    left: -1.5rem;
    top: 0.5rem;
    width: 6rem;
}

#content .ribbon2 {
    right: -1.5rem;
    bottom: 0.5rem;
    width: 6rem;
}

#content>.type-dance>.ribbon {
    background: #ed86a7
}

#content>.type-sing>.ribbon {
    background: #68caf2
}

#content>.type-fashion>.ribbon {
    background: #ffe467
}

#content .numBoxDivContainer {
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
}

#content .numBoxDiv {
    position: relative;
    font-size: 2rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 4.8rem;
    width: calc(100% - 4rem);
    max-width: 16rem;
    padding: 0;
    margin-left: 3.5rem;
    border: 0.1rem solid #000000;
    border-radius: 1rem;
}

#content .numBoxDiv.re {
    background: #eeeeee;
}

#content .numBoxDiv>.haveRibbon {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 4.3rem;
    height: 4.3rem;
    right: 0;
    top: 0;
    z-index: 999;
}

#content .numBoxDiv>.haveRibbon>.haveRibbonContent {
    position: absolute;
    padding: 0.5rem 0;
    text-align: center;
    background: #000000;
    color: #ffffff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -1rem;
    top: 0.5rem;
    width: 4rem;
    background: greenyellow
}

#content .numBoxDiv.have>.haveRibbon {
    overflow: hidden;
    display: inline-block;
    pointer-events: none;
}

.increment, .decrement {
    height: 3.2rem;
    width: 3.2rem;
}

#content .numBoxDiv>input {
    display: inline-block;
    text-align: center;
    padding: 1rem 0rem;
    width: calc(100% - 6.4rem);
    min-width: 4rem;
}

#content .reDetailDiv {
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    top: 4.7rem;
}

#content .partIconDiv {
    position: absolute;
    left: -3.5rem;
    top: 12.5%;
    height: 3.2rem;
    width: 3.2rem;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
}

#content .partIconDiv>span {
    height: 3.2rem;
    width: 3.2rem;
    color: rgba(0, 0, 0, 0.5);
}

#content .part-one-piece>.partIconDiv {
    background-image: url("../images/one-piece.png");
}

#content .part-tops>.partIconDiv {
    background-image: url("../images/tops.png");
}

#content .part-bottoms>.partIconDiv {
    background-image: url("../images/bottoms.png");
}

#content .part-shoes>.partIconDiv {
    background-image: url("../images/shoes.png");
}

#content .part-accessory>.partIconDiv {
    background-image: url("../images/accessory.png");
}
