/* 全ページ共通スタイル */

html {
    font-size: 62.5%;
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    scroll-padding-top: 7rem;
}

@media (max-width: 500px) {
    html {
        font-size: 45%;
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* 見出し */

h1 {
    font-size: 3.2rem;
    font-weight: bold;
}

h2 {
    font-size: 2.4rem;
    font-weight: bold;
}

h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

h4 {
    font-size: 1.6rem;
    font-weight: bold;
}


/* ヘッダーエリア */

header {
    background-color: #ffffff;
    position: sticky;
    top: 0;
}


/* メインエリア */

main {
    font-size: 1.6rem;
    margin: 1rem;
}

main a {
    color: #0000bb;
}

main a:hover {
    color: #4444ff;
    text-decoration:underline;
}


/* 一覧部分 */

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#content>div.item, #content>div.card {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 30rem;
    text-align: center;
    border: 0.1rem solid #000000;
}

#content div.brandDiv {
    text-align: right;
    font-size: 1.2rem;
}
